<div class="col-xs-3 bs-wizard-step $STATUS$">
    <div class="text-center bs-wizard-stepnum"> $ELEMENTO$ </div>
    <div class="progress">
        <div class="progress-bar"></div>
    </div>
    $LINK$"
    <a href="$LINK$" class="bs-wizard-dot"></a>
    <div class="bs-wizard-info text-center"></div>
</div>